.button-action-delete:hover,
.button-action-enter:hover,
.button-action-play:hover {
    color: white;
}

.button-action-delete {
    align-items: center;
    background-color: #808080;
    border: none;
    border-radius: 10px;
    color: #202124;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    height: 52px;
    justify-content: center;
    outline: none;
    vertical-align: middle;
    width: 100px;
}

.button-action-enter {
    align-items: center;
    background-color: #ADADAD;
    border: none;
    border-radius: 10px;
    color: #202124;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    height: 52px;
    justify-content: center;
    outline: none;
    vertical-align: middle;
    width: 100px;
}

.button-action-play-again {
    align-items: center;
    background-color: #ADADAD;
    border: none;
    border-radius: 10px;
    color: #202124;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    height: 52px;
    justify-content: center;
    outline: none;
    vertical-align: middle;
    min-width: 175px;
}

.button-mobile {
    height: 40px;
    font-size: 20px;
}
