.container-squares {
    display: flex;
    gap: 5px;
    margin: 10px 0 20px 0;
}

.square {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    animation: bounce 1.2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.1);
    }
}
