.button-color:hover {
    color: white;
}

.button-color {
    align-items: center;
    border: none;
    border-radius: 10px;
    color: #202124;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    height: 52px;
    justify-content: center;
    outline: none;
    vertical-align: middle;
    width: 52px;
}

.button-color-mobile {
    align-items: center;
    border: none;
    border-radius: 10px;
    display: flex;
    height: 40px;
    outline: none;
    width: 40px;
}

.container-action-buttons {
    display:flex;
    gap: 10px;
    justify-content: center;
}

.container-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 10px 0;
}

.group {
    display: flex;
    gap: 10px;
}
