.container-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: monospace;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.welcome-text {
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.container-squares {
    display:flex;
    gap: 5px;
    margin-top: 10px;
}

.square {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    animation: bounce 1.2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.1);
    }
}
