.container-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: monospace;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.welcome-text {
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.container-animated-squares {
    margin: 10px 0 20px 0;
}
