.popup {
    background-color: #202124;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
}

@media (min-width: 600px) {
    .popup {
        width: 500px;
    }
}

.title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    color: white;
    margin-bottom: 20px;
}

.dot-black {
    display: inline-block;
    background-color: black;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    vertical-align: center;
}

.dot-white {
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    vertical-align: center;
}

.container-icon-close {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: white;
}

.popup-header {
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: space-evenly;
}

.popup-footer {
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: center;
}

.container-bar-chart {
    height: 300px;
}
