body {
    background-color: #202124;
}

.container-button {
    display: flex;
    justify-content: center;
}

.container-popup {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 40px;
    position: fixed;
    z-index: 0;
}


@media (min-width: 600px) {
    .container-popup {
        align-items: center;
        margin: 0;
        width: 100%;
    }
}

i:hover {
    color: #ADADAD;
}
